.form-inline
  .form-group.text-center
    = f.input :ticket, class: 'form-control'
    = f.input :client, class: 'form-control'
  .form-group.text-center
    = link_to_remove_association('remove this', f,
      { wrapper_class: 'form-inline' })
