.form-inline
  .form-group
    = f.input :ticket, class: 'form-control'
    = f.input :client, class: 'form-control'
  .form-group
    = f.hidden_field :_destroy
    %a.btn.btn-warning{:href => "#", :onclick => "removeClaim(this)"}
      %span.glyphicon.glyphicon-minus
