#product-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title= title
      = form_for @team, remote: true do |f|

        .modal-body
          =render 'form', team: @team

        .modal-footer
          = f.submit class: "btn btn-primary btn-lg btn-block"
