- form_with(model: claim, local: true) do |form|
  - if claim.errors.any?
    %div#error_explanation
      %h2 = pluralize(claim.errors.count, "error")  prohibited this claim from being saved:

    %ul
    - claim.errors.full_messages.each do |message|
    %li
      = message

    - form.select :user,
      User.all.map { |u| [u.email, u.id] },
                   { include_blank: true },
                   { class: 'chosen-select', multiple: true}


    %div.field
      - form.label :ticket
      - form.number_field :ticket, id: :claim_ticket

    %div.field
      - form.label :client
      - form.text_field :client, id: :claim_client

    %div.actions
      = form.submit
