// Place all the styles related to the Claims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#table-team{
  background: 	#F0F8FF !important;
  border-radius: 35px;
  border: 1px solid;
  margin-bottom: 45px;

}
#panel-heading{
  padding: 5px;
}

#but {
  display: block;
  width: 98%;
  height: 80px;
  background-color: #F0F8FF ;
  padding: 5px;
  text-align: center;
  border-radius: 40px;
  color: none;
  font-weight: bold;
}
#but_tag_minus {
  background: transparent url('button_right.png') no-repeat scroll top right;
  text-decoration: none;
}

#but_tag_minus {
  padding: 1px 1px 1px 1px !important;
}
button_tag.btn-danger.btn-sm {
  padding: 2px 6px 2px 6px !important;
}
button.glyphicon.glyphicon-plus {
  margin-top: 20px !important;
}
#but_tag_plus :hover{
  background: #99ff33 !important;
}

#butt{
    /* Sliding right image */
    background: transparent url('button_right.png') no-repeat scroll top right;
display: block;
float: left;
height: 32px; /* CHANGE THIS VALUE ACCORDING TO IMAGE HEIGHT */
margin-right: 0px;
padding-right: 0px; /* CHENGE THIS VALUE ACCORDING TO RIGHT IMAGE WIDTH */
margin-top: 2px !important;
/* FONT PROPERTIES */
text-decoration: none;
color: #000000;
font-family: Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}
#butt {
/* Background left image */
background: transparent url('button_left.png') no-repeat;
display: block;
line-height: 22px; /* CHANGE THIS VALUE ACCORDING TO BUTTONG HEIGHT */
padding: 2px 5px 3px 5px !important;
border-radius: 10px;
}
#butt:hover {
text-decoration:underline;

}


a:link{
  text-decoration:none;
  margin: auto;
}

#tbody{
  text-align: center;
}
#tbody th{
  text-align: center;
  background: #4682B4!important;
  border-radius: 20px;
}
#tbody td{
  text-align: center;
  border-radius: 12px;
}
